.rouge{
    background-color: red;
}
.jaune{
    background-color: yellow;
}
.bleu{
    background-color: blue;
}
.vert{
    background-color: green;
}
.gris{
    background-color: grey;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
}
.purple{
    background-color: purple;
}
.orange{
    background-color: orange;
}
.brown{
    background-color: brown;
}